openapi: 3.0.0

info:
  title: SharePoint Configuration & Governance Plugin
  description: >
    Fetches SharePoint site configuration, governance, permissions,
    sharing policies, teams associations, activity, storage, owners,
    and admins via Microsoft Graph API for Security Copilot agents.
  version: "2.3.0"
  contact:
    name: Security Engineering Team

servers:
  - url: https://graph.microsoft.com/v1.0
    description: Microsoft Graph API v1.0

security:
  - oauth2ClientCredentials: []

paths:

  /sites:
    get:
      operationId: ListAllSites
      summary: List all SharePoint site collections in the tenant
      description: >
        Returns all SharePoint Online site collections accessible to the
        application. The $select parameter is optional — omit it to return
        all default fields, or specify fields to limit response size.
        NOTE: $search and ConsistencyLevel are intentionally omitted from
        this operation. This tenant's Graph API returns all sites without
        requiring $search=*, and sending that parameter without correct
        handling causes HTTP 400. Use $select to filter fields instead.
        Do NOT add $search=* or ConsistencyLevel headers to this call.
      parameters:
        - name: $select
          in: query
          required: false
          schema:
            type: string
            default: "id,displayName,webUrl,createdDateTime,lastModifiedDateTime"
          description: >
            Comma-separated list of fields to return for each site.
            Do not include 'name' — use 'displayName' instead.
        - name: $top
          in: query
          required: false
          schema:
            type: integer
            default: 200
          description: >
            Maximum number of results per page. Follow @odata.nextLink
            for subsequent pages until no nextLink is present.
      responses:
        '200':
          description: List of site collections
        '400':
          description: Bad request — malformed query parameter (commonly caused by $search=*)
        '403':
          description: Forbidden — Sites.Read.All permission not granted

  /sites/{siteId}:
    get:
      operationId: GetSiteDetails
      summary: Get configuration details and sharepointIds for a specific site
      description: >
        siteId must be in hostname:/sites/SiteName format derived from the
        full site URL, for example acp200327.sharepoint.com:/sites/Finance.
        Do not pass a bare root hostname (e.g. acp200327.sharepoint.com)
        without a /sites/ path — this will return a 400 or resolve to the
        root site, not the intended site.
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
          description: >
            SharePoint site ID in hostname:/sites/SiteName format or
            the GUID-based ID returned from ListAllSites.
            Example: acp200327.sharepoint.com:/sites/Finance
        - name: $select
          in: query
          required: false
          schema:
            type: string
            default: "id,displayName,webUrl,sharepointIds,createdDateTime,lastModifiedDateTime,description,siteCollection"
      responses:
        '200':
          description: >
            Site details including sharepointIds (groupId, siteId GUID,
            siteUrl, webId) for dependency resolution by downstream calls.

  /groups/{groupId}:
    get:
      operationId: GetSiteVisibility
      summary: Get the visibility (Public/Private/N/A) of a SharePoint site
      description: >
        Resolves the M365 group visibility (Public or Private). Returns
        NotApplicable for Hub sites, Communication sites, and classic sites
        with no M365 group. groupId obtained from GetSiteDetails sharepointIds.groupId.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
          description: >
            M365 Group ID from sharepointIds.groupId returned by GetSiteDetails.
        - name: $select
          in: query
          required: false
          schema:
            type: string
            default: "id,displayName,visibility,groupTypes,resourceProvisioningOptions"
      responses:
        '200':
          description: Group visibility and type details

  /sites/{siteId}/permissions:
    get:
      operationId: GetSitePermissions
      summary: Retrieve all site-level permission grants for a SharePoint site
      description: >
        Returns site-level permission grants only. For item-level drive
        permissions use GetDriveRootPermissions. Both calls are needed for
        a complete oversharing risk scan.
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
        - name: $select
          in: query
          required: false
          schema:
            type: string
            default: "id,roles,grantedToIdentitiesV2,link,inheritedFrom"
      responses:
        '200':
          description: Site-level permission grants
        '403':
          description: Forbidden — Sites.FullControl.All or Sites.Read.All not granted

  /sites/{siteId}/drive/root/permissions:
    get:
      operationId: GetDriveRootPermissions
      summary: Retrieve permission grants on the root drive item of a SharePoint site
      description: >
        Returns sharing links and direct grants on the root document library
        drive item. Use alongside GetSitePermissions for a complete
        oversharing scan. Requires Sites.Read.All scope.
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
        - name: $select
          in: query
          required: false
          schema:
            type: string
            default: "id,roles,grantedToIdentitiesV2,link"
      responses:
        '200':
          description: Root drive item permission grants
        '403':
          description: Forbidden — Sites.Read.All not granted

  /groups/{groupId}/team:
    get:
      operationId: GetSiteTeamsAssociation
      summary: Check if a SharePoint site is associated with a Microsoft Teams team
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
          description: >
            M365 Group ID from sharepointIds.groupId returned by GetSiteDetails.
        - name: $select
          in: query
          required: false
          schema:
            type: string
            default: "id,displayName,webUrl"
      responses:
        '200':
          description: Teams team details if associated
        '404':
          description: No Teams team provisioned for this group

  /teams/{teamId}/channels:
    get:
      operationId: GetSiteChannelAssociation
      summary: >
        List all Teams channels (standard, private, shared) for a team,
        including the SharePoint file folder URL per channel
      description: >
        Returns all channels with their filesFolderWebUrl inline. This
        single call replaces separate per-channel filesFolder sub-calls.
        Filter client-side for private/shared channels if needed.
      parameters:
        - name: teamId
          in: path
          required: true
          schema:
            type: string
        - name: $select
          in: query
          required: false
          schema:
            type: string
            default: "id,displayName,membershipType,webUrl,filesFolderWebUrl"
      responses:
        '200':
          description: >
            Channel list with membershipType and filesFolderWebUrl per channel.
            No secondary per-channel filesFolder call is needed.

  /sites/{siteId}/lists:
    get:
      operationId: ListSiteLists
      summary: List all lists and document libraries in a site
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
        - name: $select
          in: query
          required: false
          schema:
            type: string
            default: "id,displayName,list,createdDateTime,webUrl"
      responses:
        '200':
          description: All lists and libraries in the site

  /sites/{siteId}/lists/{listId}:
    get:
      operationId: GetListSettings
      summary: Get detailed configuration for a specific list or library
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
        - name: listId
          in: path
          required: true
          schema:
            type: string
        - name: $expand
          in: query
          required: false
          schema:
            type: string
            default: "contentTypes,columns"
      responses:
        '200':
          description: List configuration including versioning and content types

  /sites/{siteId}/settings:
    get:
      operationId: GetSharingSettings
      summary: Get external sharing status and policy type for a SharePoint site
      description: >
        Returns site-level sharingCapability. When null (site inherits
        tenant default), also call GetTenantSharingSettings.
        Enum mapping: Disabled=Off, ExistingExternalUserSharingOnly=Existing
        Guests, ExternalUserSharingOnly=New+Existing, ExternalUserAndGuestSharing=Anyone.
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
        - name: $select
          in: query
          required: false
          schema:
            type: string
            default: "sharingCapability,sharingDomainRestrictionMode,sharingAllowedDomainList"
      responses:
        '200':
          description: Site sharing and governance settings

  /admin/sharepoint/settings:
    get:
      operationId: GetTenantSharingSettings
      summary: Get tenant-level SharePoint sharing defaults (fallback)
      description: >
        Fallback — call when site-level sharingCapability is null.
        Requires SharePointTenantSettings.Read.All permission AND the
        SharePoint Administrator or Global Administrator directory role
        on the service principal. Sites.Read.All alone is not sufficient.
        On 403, do not retry — record the failure and continue.
      parameters:
        - name: $select
          in: query
          required: false
          schema:
            type: string
            default: "sharingCapability,defaultSharingLinkType,defaultLinkPermission,requireAnonymousLinksExpireInDays,anonymousLinkExpirationInDays,sharingDomainRestrictionMode,sharingAllowedDomainList,sharingBlockedDomainList,isExternalUserSelfServiceSignUpEnabled"
      responses:
        '200':
          description: Tenant-level sharing configuration
        '403':
          description: >
            Forbidden — service principal lacks SharePoint Administrator or
            Global Administrator directory role in Entra ID.

  /sites/{siteId}/analytics/allTime:
    get:
      operationId: GetSiteActivity
      summary: Get last activity date for a SharePoint site including read access
      description: >
        Returns site activity stats including read access events.
        Use lastActivityDateTime from the response for the inventory
        "Last content modification date" row. Falls back to
        lastModifiedDateTime from GetSiteDetails if analytics data
        is unavailable (404 or empty response).
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Site activity statistics including lastActivityDateTime
        '404':
          description: Analytics not available for this site — use lastModifiedDateTime fallback

  /sites/{siteId}/drive:
    get:
      operationId: GetSiteStorageUsage
      summary: Get current storage usage and quota for a SharePoint site
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
        - name: $select
          in: query
          required: false
          schema:
            type: string
            default: "id,name,driveType,webUrl,quota"
      responses:
        '200':
          description: >
            Drive quota and storage usage. quota object contains:
            used, total, remaining, deleted (all in bytes), and state
            (normal, nearing, critical, exceeded).

  /groups/{groupId}/owners:
    get:
      operationId: GetSiteGroupOwners
      summary: Get the owners of the M365 group linked to a SharePoint site
      description: >
        Returns the M365 group owner list (= effective site owners for
        modern team sites). Empty array = orphaned site (HIGH RISK).
        companyName is included to enable external-owner detection.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
          description: >
            M365 Group ID from sharepointIds.groupId returned by GetSiteDetails.
        - name: $select
          in: query
          required: false
          schema:
            type: string
            default: "id,displayName,userPrincipalName,mail,jobTitle,department,companyName"
      responses:
        '200':
          description: List of group owners including companyName for external-owner detection

  /admin/sharepoint/sites/{spoSiteId}:
    get:
      operationId: GetSiteAdminDetails
      summary: >
        Get definitive site collection admin list from SharePoint Admin API
        (authoritative source)
      description: >
        Authoritative source for site collection admins and primary admin.
        Use the SharePoint site GUID from sharepointIds.siteId (NOT the
        Graph composite ID). Requires SharePointTenantSettings.Read.All
        permission AND SharePoint Administrator or Global Administrator
        directory role on the service principal.
        On 403, record the failure and fall back to filtering
        GetSitePermissions results for fullControl entries.
      parameters:
        - name: spoSiteId
          in: path
          required: true
          schema:
            type: string
          description: >
            SharePoint site GUID from sharepointIds.siteId returned by
            GetSiteDetails. Do not use the Graph composite site ID here.
        - name: $select
          in: query
          required: false
          schema:
            type: string
            default: "siteCollectionAdmins,primaryAdmin,url"
      responses:
        '200':
          description: Site collection admins and primary admin
        '403':
          description: >
            Forbidden — service principal lacks SharePoint Administrator role.
            Fall back to fullControl entries from GetSitePermissions.

  /sites/{siteId}/columns:
    get:
      operationId: GetSiteColumns
      summary: Get the site column schema for governance and classification
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Site column definitions

  /sites/{siteId}/contentTypes:
    get:
      operationId: GetSiteContentTypes
      summary: List all content types defined in the site
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
        - name: $expand
          in: query
          required: false
          schema:
            type: string
            default: "columns"
      responses:
        '200':
          description: Content types and their column schemas

  /sites/{siteId}/termStore:
    get:
      operationId: GetTermStore
      summary: Get the term store and managed metadata config for a site
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Term store configuration and groups

components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://graph.microsoft.com/.default: Default Graph API scope
